/* Animation for fade in */

.fadeinAnimation {
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
    animation-delay: 100ms;
    animation-iteration-count: 1;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Animation for skill bar slides */

.slidebarAnimation {
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
    animation-delay: 100ms;
    animation-iteration-count: 1;
    animation-name: slide1;
}

@keyframes slide1 {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

/* Slide In Animation */




