@import url(main-theme.css);
@import url(animations.css);

/* First section */

/* Layout */

.page-container-1 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-template-areas: 
        'header header header'
        'content content content'
        'touchbtn touchbtn touchbtn';
    justify-content: center;
    place-items: center;
    align-content: center;
    grid-auto-flow: column;

    row-gap: 5vh;
}

.page-content{
    grid-column-start: 2;
    grid-column-end: 3;
    margin-inline: 10rem
}

.page-first-content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5vw;
    place-items: center;
}

.h1-name{
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: end;
}

.h1-description{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: start;
    
}

/* contanct link button */
.contact-link-btn{
    display: grid;
    grid-area: touchbtn;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: baseline;
}
.contact-link-btn a{
    position: relative;
    color: #FFF;
    font-family: Inter;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.45rem;
    text-transform: uppercase;
}


/* Second section */

.page-container-2{
    background-image: url(../imgs/main_bgcontin.jpg);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 2fr;
    justify-content: center;
    place-items: center;
    align-content: center;
    grid-auto-flow: column;

    row-gap: 5vh;
    margin-block: 5%;
}

.section-title{
    grid-column-start: 2;
    grid-column-end: 5;
    justify-self: center;
}

.section-title p{
    margin-right: 15%;
    margin-top: 1.25%;
}


/* columns */

.exp-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 0.75fr 1fr;


    background-color: #FFF;
    width: 85%;
    height: 55vh;
    margin-inline: 5%;
    place-self: baseline;
    justify-self: center;
    border-radius: 1rem;
}

.exp-col p{
    color: black;
    background-color: white;
    text-transform: uppercase;
    text-wrap: wrap;
    margin-inline: 7.5%;
    margin-block: 7.5%;
}

.exp-col-img{
    grid-row-start: 2;
    grid-row-end: 3;

    background-color: black;
    margin-inline: 7.5%;

    border-radius: 0.5rem;
}

.exp-col-btn{
    margin-bottom: 2.5%;
}

.col1{
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 2;
    grid-column-end: 3;
}

.col1 p{
    margin-right: 50%;
}

.col1 .exp-col-img{
    background-image: url(../imgs/ldnnootslogo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.col2{
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 3;
    grid-column-end: 4;
}

.col2 p{
    margin-right: 50%;
}

.col2 .exp-col-img{
    background-image: url(../imgs/discordlogo.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.col3{
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 4;
    grid-column-end: 5;
}

.col3 p{
    margin-right: 40%;
}

.col3 .exp-col-img{
    background-image: url(../imgs/unitylogo.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.exp-col-desc p{
    margin-right: 20%;
}

.exp-col-btn p{
    color: white;
    background-color: black;
    margin-right: 7.5%;
    padding-left: 5%;
    padding-block: 5%;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: white;

    transition: 500ms;
}

.exp-col-btn p:hover{
    background-color: #FFF;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;

    transition: 500ms;
    cursor: pointer;
}

