@import url(reset.css);

body {
    background-image: url(../imgs/main_bg.png);
    background-color: black;
    background-size: contain;
    background-position: center -50px;
    background-repeat: no-repeat;
}

/* Global styles */

h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: black;
}

p {
    color: #FFF;
    font-family: Inter;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 300;
    line-height: 135%; /* 4.05rem */
    letter-spacing: 0.2rem;
    
    background-color: black;
    text-wrap: wrap;
}

hr{
    height: 2px;
    background-color: #FFF;
    border: none;
}


/* Header & Nav Menu */

.page-header-content-container {
    width: 100%;
    height: 20rem;
    grid-area: header;
}

.page-header-center {
    justify-items: center;
    place-items: center;
}

.page-header{
    grid-column-start: 2;
    grid-column-end: 3;
}

.page-header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-block: 4rem;
    list-style: none;
    gap: 5vw;
}

.page-header-nav ul li, .hoveranim{
    position: relative;
    color: #FFF;
    font-family: Inter;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.45rem;
    text-transform: uppercase;
    transition: 200ms ease;
    text-wrap: nowrap;
}

.page-header-nav ul li::after, .hoveranim::after{
    content: '';
    position: absolute;
    width: 95%;
    transform: scaleX(0);
    height: 2px;
    top: 3vh;
    left: 0;
    background-color: #FFF;
    transform-origin: bottom right;
    transition: transform 200ms ease-out;
}

.page-header-nav ul li:hover::after , .hoveranim:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.page-header-nav ul li:hover , .hoveranim:hover{
    transition: 200ms ease;
}


/* Main content */